<header class="site-header" role="banner">
  <div class="site-header__interior">
    <div class="site-header__left">
      <p>Eleventy Lesson</p>
    </div>
    <div class="site-header__right">
    {% include "navigation.njk" %}
    </div>
  </div>
</header>