---
title: Eleventy Lesson
---
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modern-normalize.css">
    <link rel="stylesheet" href="/assets/css/bundle.css">
    <title>{{ title }}</title>
  </head>

  <body>
    <a href="#main" class="skip-to-content">Skip to main content</a>

    {% include "header.njk" %}

    <main id="main">
      <div class="container">
        {{ content | safe }}
      </div>
    </main>

    {% include "footer.njk" %}
  </body>

</html>